.popup {
      display: none;
      /* color: red; */
      font-size: 12px;
      margin-left: 10px;
    }
.input-container {
      margin-bottom: 10px;
    }

th, td {
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 20px;
    }

.formclass{
    /* margin-left: 40%; */
    /* align-items: center; */
    justify-content: center;
}

#myForm{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 29px;
    background-color: rgb(188, 215, 232);
    padding-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 7px;
    /* margin-right: 40%; */
    text-align: center;
}

.inputF{
    margin: 10px;
    height: 10mm;
    width: 80%;
    border-style:dotted;
}

button{
    box-shadow: 0 4px 8px 0 rgba(229, 130, 103, 0.758), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(89, 255, 0);
    margin: 15px;
    font-size: medium;
    border-radius: 7px;
    border: 0px;
    height: 34px;
    width: 70px;
}

#storedDetails{
    /* margin-left: 40%; */
    /* align-items: center; */
    justify-content: center;
}
#mytable{
    border-radius: 7px;
    text-align: center;
    margin-left: 26%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 24%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
